html,body,div,span,h1,h2,h3,h4,blockquote,pre,a,abbr {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
html,body {
	height:100%;
	width:100%;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
table, th, td {
  border: 0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
p {
	margin: 10px 0;
	line-height: 130%;
}

.ip-instruction-overlay {
	background-color: rgba(153,153,153,0.75);
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
}
.ip-instruction-overlay h1, .ip-instruction-overlay h2, .ip-instruction-overlay h3, .ip-instruction-overlay p, .ip-instruction-overlay span {
	color: #FFF;
}
div.ip-instruction-overlay  h1 { font-size: 36px; }
div.ip-instruction-overlay  h2 { border-bottom: 1px solid #FFF; font-size: 32px; margin-top: 10px; }
div.ip-instruction-overlay  h3 { font-size: 28px; }

.ip-instruction-overlay p, span {
	color: #FFF;
	font-size: 16px;
}

.ip-instruction-box {
	background-color: #000;
	border-radius: 20px;
	box-shadow: 5px 5px 8px #333;
	height: 550px;
	margin: 100px auto 0;
	padding: 20px;
	position: relative;
	width: 800px;
}

button, input, select {
	font-size: 20px;
	padding: 10px;
}

.study-conditions {
	color: #fff;
	margin: 5px;
}

.study-conditions span {
    display: inline-block;
    width: 250px;
}


select#cond-optics, select#cond-background, select#cond-calibrate, select#cond-light {
	background-color: #FFF;
	border: 1px solid #AAA;
	font-size: 14px;
	padding: 5px;
	width: 250px;
}

p.task { color: #FFFF00; font-size: 38px; }

#stopper {
	color: #FFF;
	font-size: 70px;
	display: block;
	height: 80px;
	position: absolute;
	width: 200px;
	top: 0;
	right: 0;
	text-align: center;
}

#tasktimelabel {
	display: inline-block;
	font-size: 30px;
	float: right;
}

.sound-play-button {
	background: #ffff00 url("../img/ic_play_circle_filled_black_18dp_1x.png") no-repeat scroll right top;
    border-radius: 18px;
	cursor: pointer;
    display: inline-block;
    height: 18px;
    margin-top: 5px;
    width: 18px;
	vertical-align: baseline;
}
progress {
	background-color: #000;
    border: 0 none;
    display: block;
    height: 4px;
    left: 0;
    width: 100%;
}
progress::-moz-progress-bar {background-color: #FFF !important;}
progress::-webkit-progress-value {background-color: #FFF !important;}